// modal wrapperrrrrr
.modal_wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
// cropper wrapper
.cropper_wrapper {
    position: relative;
    width: 80vw;
    height: 70vh;
    background: #fff;
    z-index: 9999;
}
.wrapper_close {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 40px;
    color: red;
    cursor: pointer;
    z-index: 999999;
}
// button submit
.button_submit {
    display: flex;
    justify-content: center;
    padding: 10px;
    button {
        border: none;
        background-color: rgb(0, 143, 187);
        color: #fff;
        border-radius: 5px;
        padding: 10px;
    }
}