.topImage {
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2.5px;
    border-radius: 10px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
}

.section {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    .one {
        margin: 2.5px 5px 2.5px 2.5px;
    }
    .two {
        margin: 2.5px 2.5px 2.5px 5px;
    }
    a {
        display: block;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        height: 100%;
        min-width: 24%;
        border-radius: 9px;
        overflow: hidden;
        img {
            width: 100%;
            border-radius: 16px;
        }
    }
}

.parent {
    padding-top: 5px;
    padding-bottom: 5px;
    .right_img {
        img {
            width: 100%;
            aspect-ratio: 2/1;
            border-radius: 15px;
        }
    }
    .left_side {
        display: flex;
        justify-content: space-between;
    }
    .left_image {
        img {
            height: 100%;
            width: 90%;
            border-radius: 15px;
        }
    }
}