// Styles For Desktop
.Hojreh_headD {
    height: 135px;
    border-radius: 5px;
    // background-color: blue;
    margin-top: 20px;
    position: relative;
    display: grid;
    &_pic {
        width: 100px;
        height: 100px;
        background-color: rgb(245, 95, 9);
        border-radius: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        * {
            border-radius: 50%;
        }
    }
}
.btnProfile {
    position: absolute;
    left: 53%;
    top: 70%;
}
.btnBanner {
    position: absolute;
    right: 3px;
    bottom: 3px;
}