.container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 80px;
}

.content {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(235, 13, 13, 0.4), 10px 10px rgba(253, 7, 7, 0.3), 15px 15px rgba(255, 4, 4, 0.2), 20px 20px rgba(255, 24, 24, 0.1), 25px 25px rgba(255, 230, 9, 0.05);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    img {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

.text {
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
    color: rgb(235, 13, 13);
    text-align: center;
}

.text_sub {
    margin-top: 20px;
    color: rgb(253, 7, 7);
    text-align: right;
}

.text_sub_last {
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.text_sub_last_Sup {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}