.onePage {
  height: 100vh;
  width: 100%;
  background: url("../../../public/image/game/03-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.twoPage{
  height: 100vh;
  width: 100%;
  background: url("../../../public/image/game/03-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.threePage{
  height: 100vh;
  width: 100%;
  background: url("../../../public/image/game/03-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}



.wrap {
  position: absolute;
  top: 50%;
  left: 5%;
  
  width: 90%;
  display: flex;
  justify-content: space-around;
  .btnYes {
   
    width: 150px;
    
    button {
      width: 100%;
        
      padding-top: 15px;
      padding-bottom: 15px;
      background: transparent;
      border: 1px solid #ccc;
      font-size: 20px;
      font-weight: bold;
      color: white;
      backdrop-filter: blur(2px);
      border-radius: 5px;
    }
  }
  .btnNo {
    width: 150px;
    button {
      width: 100%;

      padding-top: 15px;
      padding-bottom: 15px;
      background: transparent;
      border: 1px solid #ccc;
      font-size: 20px;
      font-weight: bold;
      color: white;
      backdrop-filter: blur(2px);
      border-radius: 5px;
    }
  }
}