.wraper{
    display: flex;
    
    justify-content: center;
    align-items: center;
    

}


.card{
    width: 100%;
    height: 200px;
    background: #224E821A;

    border-radius: 20px;
    // box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 25px;
    
    
}
.card_right{
    height: 100%;
    // background: #ff3300;
    flex-grow: 4;
    margin:10px

   

  
}


.card_right_btm{
    height:"100px";
    position: relative;
    display: flex;
}

.card_left{
    height: 100%;
    // background: #0073ff;
    flex-grow: 1;
    margin:10px

    
}