.paterImage {
    position: relative;
    min-height: 177px;
    @media (max-width: 1025px) {
        min-height: 200px;
    }
    @media (max-width: 426px) {
        min-height: 185px;
    }
    @media (max-width: 376px) {
        min-height: 126px;
    }
    @media (max-width: 321px) {
        min-height: 114px;
    }
}
.links {
    font-size: small;
}
.discount_badge {
    position: absolute;
    top: 14px;
    left: 14px;
    font-weight: bold;
}
.Ads_badge {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #161515;
    font-size: 0.8rem;
    line-height: 1.1rem;
    border-radius: 4px;
    padding: 0.125rem 0.25rem;
    background-color: #eeeede;
}
._product_card_add_to_cart {
    background: none;
    width: 2.1rem;
    height: 2.1rem;
    padding: 0;
    position: relative;
    i {
        background: #fff;
        border: 1.5px solid #224d82;
        border-radius: 50%;
        color: #224d82;
        padding: 0;
        font-size: 1.2rem;
        transition: all 0.5s;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover {
        i {
            background: #224d82;
            border: 1px solid #fff;
            color: #fff;
            transition: all 0.5s;
        }
    }
}
._product_card_badge {
    display: flex;
    position: absolute;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    background: #fff;
    color: #343a40;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
._product_card_camp_badge {
    display: flex;
    position: absolute;
    // left: 1rem;
    width: 65px;
    height: 65px;
    padding: 1px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    background: #fff;
    color: #343a40;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
// ._product_card:hover ._product_card_badge {
//     visibility: unset;
//     opacity: 1;
// }