.paterImage {
    min-height: 194px;
    @media (max-width: 1025px) {
        min-height: 220px;
    }
    @media (max-width: 426px) {
        min-height: 185px;
    }
    @media (max-width: 376px) {
        min-height: 150px;
    }
    @media (max-width: 321px) {
        min-height: 130px;
    }
}