.wrapper {
  background: #fff;
  overflow-x: hidden;
  // header
  .header {
    padding: 53px 100px 43px 100px;
    @media screen and (max-width: 767px) {
      padding: 10px;
    }
  }
  // process
  .process {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 37px;
      text-align: center;
      color: #224e82;
      margin-top: 100px;
    }
  }
  // footer
  footer {
    background-image: url("../../public/image/description/footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #224e82;
    width: 100%;
    height: 555px;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      padding: 0px 10px;
    }
    // h2
    h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 37px;
      text-align: center;
      color: #aa850e;
      margin-top: 100px;
      @media screen and (max-width: 767px) {
        margin-top: 0px;
      }
    }
    // p
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 23px;
      text-align: center;
      color: #f2f2f2;
      margin: 30px 0px;
    }
    // wrapper button
    .wrapper_button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 436px;
      @media screen and (max-width: 767px) {
        width: 210px;
      }
      // button solid
      .button_solid {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 39px;
        left: 728px;
        top: 2638px;
        background: #aa850e;
        border-radius: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        border: none;
      }
      // button empty
      .button_empty {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 39px;
        left: 502px;
        top: 2638px;
        background: #224e82;
        border: 2px solid #aa850e;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        @media screen and (max-width: 767px) {
          margin-top: 16px;
        }
      }
    }
  }
}
