.child_picture {
    .input_picture {
        right: 5px;
        top: 5px;
        position: absolute;
    }
    width: 47%;
    margin: 5px auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    border: #303030 solid 1px;
}