// modal wrapper
.modal_wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: red;
    z-index: 1;
}

// cropper wrapper
.cropper_wrapper {
    position: relative;
    width: 800px;
    height: 350px;
    background: #fff;
}

// button submit
.button_submit {
    display: flex;
    justify-content: center;
    padding: 10px;
    button {
        border: none;
        background-color: rgb(0, 143, 187);
        color: #fff;
        border-radius: 5px;
        padding: 10px;
    }
}