.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 600px;
    flex-wrap: wrap;
    padding: 30px;
    .card {
        position: relative;
        max-width: 300px;
        height: 215px;
        background: #fff;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            height: 420px;
            .content {
                visibility: visible;
                opacity: 1;
                margin-top: -40px;
                transition-delay: 0.3s;
            }
        }
        .content {
            position: relative;
            margin-top: -140px;
            padding: 10px 15px;
            text-align: center;
            color: #111;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }
    .imgBx {
        position: relative;
        width: 260px;
        height: 260px;
        top: -60px;
        z-index: 1;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        .image {
            border-radius: 10px;
            overflow: hidden;
        }
    }
}
@media (max-width: 768px) {
    .wrapper {
        .card {
            position: relative;
            max-width: 300px;
            height: 420px;
            background: #fff;
            margin: 30px 10px;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
            transition: 0.3s ease-in-out;
            cursor: pointer;
            .content {
                visibility: visible;
                opacity: 1;
                position: relative;
                margin-top: -40px;
                padding: 10px 15px;
                text-align: center;
                color: #111;
            }
        }
    }
}