.wrapper {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        // left: 0px
    }
    25% {
        // left: -150px;
        transform: rotate(90deg);
    }
    50% {
        // left: -100px;
        transform: rotate(180deg);
    }
    75% {
        // left: -50px;
        transform: rotate(270deg);
    }
    100% {
        // left: 0px;
        transform: rotate(360deg);
    }
    // 0%   {background-color:red; left:0px; top:0px;}
    // 25%  {background-color:yellow; left:200px; top:0px;}
    // 50%  {background-color:blue; left:200px; top:200px;}
    // 75%  {background-color:green; left:0px; top:200px;}
    // 100% {background-color:red; left:0px; top:0px;}
}

@keyframes name {
    0% {
        opacity: 20%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

// Message
.loader {
    display: inline-block;
    position: relative;
    z-index: 5;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.nameLoding {
    -webkit-animation: name 2s ease-in-out infinite;
    animation: name 2s ease-in-out infinite;
}