.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.explain {
    margin-left: 50px;
    align-items: center;
    text-align: justify;
    font-family: "bakh";
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}
.error {
    font-size: 14px;
    color: red;
    margin-top: 8px;
}

/* Start     Input */

.input_setting {
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        grid-column: 1 / -1;
    }
}
.explain_section {
    @media (max-width: 768px) {
        display: none;
    }
}
.inputWidRtl {
    display: grid;
}
.inputWidRtl>textarea {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    color: #364254;
    padding: 11px;
}