.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e9edf3;
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  position: relative;
}

.wrapImage {
  margin-top: 33px;
  margin-bottom: 22px;
}

.wrapText {
  margin-bottom: 33px;
  span {
    color: #224e82;
    font-size: 18px;
    font-weight: bold;
  }
}

.wrappIcon {
  position: absolute;
  left: 25px;
  top: 25px;
  cursor: pointer;
}
