@use "../../styles/abstracts/index" as *;
.main_wrapper {
  .right_menu {
    font-size: 1rem;
    background: #fff;
    border-radius: $borderRadius;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    .imageProfile {
      border-radius: $borderRadius;
    }
    .active_link {
      background-color: #597ba1;
      color: #fff;
      border-radius: $borderRadius;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 15px 0px;
      li {
        padding: 5px 15px;
        font-size: 14.5px;
        cursor: pointer;
        h6 {
          padding-top: 5px;
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
  }
  // mobile menu
  .menu_mobile {
    position: fixed;
    bottom: -1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 0px;
    z-index: 200;
    ul {
      list-style-type: none !important;
      margin: 0px;
      padding-left: 0;
      padding-right: 0;
      li {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
        cursor: pointer;
        h6 {
          padding-top: 5px;
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
  }
}

.wavy {
  margin: auto;
  width: 80%;
  height: 0.5px;
  margin-bottom: 15px;
  background-color: #1a3e68;
}

.active_menu {
  background-color: #a06912;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #fcfcfc;
  font-size: 16px;
  padding: 10px;
  font-weight: bolder;
  position: relative;
  ::before {
    content: "";
    height: 40px;
    width: 100%;
    border-radius: 50%;
    background-color: #a06912;
    position: absolute;
    top: -20px;
    z-index: -1;
  }
}
