// Variable
$color1: #00171f;
$color2: #1b3e68;
$color3: #224d82;
$color4: #597ba1;
$color5: #91a6c1;
$color6: #d4d8e1;
.lineProduct {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(to top, #f5f5f5, transparent);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(to bottom, #f5f5f5, transparent);
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .title {
            h1 {
                font-size: 16px;
                margin-bottom: 13px;
                letter-spacing: 1px;
                font-weight: bold;
            }
            h5 {
                font-size: 14px;
                color: rgb(125, 125, 125);
            }
        }
        .Button {
            button {
                border: 1px solid $color2;
                border-radius: 10px;
                padding: 6px 20px;
                color: $color2;
                &:hover {
                    background: $color2;
                    color: #fff;
                }
            }
        }
    }
    .products {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}