.onePage {
  height: 100vh;
  width: 100%;
  background: url("../../../public/image/game/two.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap {
  position: fixed;
  top: 50%;
  left: 15%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  .btnYes {
    width: 120px;
    button {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      background: transparent;
      border: 1px solid rgb(3, 128, 86);
      font-size: 20px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      background-color: rgb(2, 83, 56);
      backdrop-filter: blur(2px);
      border-radius: 5px;
    }
  }
  .btnNo {
    width: 120px;
    button {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      background: transparent;
      border: 1px solid #7c1274;
      font-size: 20px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      background-color: #4e0b49;
      backdrop-filter: blur(2px);
      border-radius: 5px;
    }
  }
}
