.header {
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: bold;
}