/* :root {
    --background1: #e5e5e5;
    --background2: #ffffff;
    --border: 1px solid #e0e6e9;
    --radius: 5px;
    --shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    --color1: #5e7488;
    --color2: #364254;
    --hover: #007aff;
  } */


/* a {
    text-decoration: none;
  } */

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1b3e68;
}

.info_cardH {
    padding-top: 17px;
    text-align: center;
    padding-bottom: 29px;
    select {
        box-sizing: border-box; // width: 100%;
        // height: 40px;
        text-align: center;
        padding: 10px;
        border: 0;
        background-color: #fff;
        font-size: 15px;
        outline: 0;
        background-color: rgb(255, 255, 255);
        border-color: rgb(204, 204, 204);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-shadow: var(--shadow);
        font-weight: 900;
    }
}

.hedtop {
    // width: 100vw;
    /* position: fixed; */
    background: #ffffff;
    height: 67px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100000;
}

.hedtop h1 {
    margin-top: auto;
    margin-bottom: auto;
    color: #007aff;
    margin-right: 22px;
}

.hedtop span {
    width: 38px;
    height: 38px;
    margin-right: 102px;
}

@media (max-width: 768px) {
    .hedtop {
        display: none;
    }
}

.hedtop_mobile {
    background: #ffffff;
    height: 53px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100000;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hedtop_mobile h1 {
    margin-right: 14px;
    color: hsl(213deg 59% 32%);
}

.hedtop_mobile span {
    margin-left: 14px;
}

.wrapper {
    display: -ms-grid;
    display: grid;
    margin-top: 22px;
    gap: 20px;
    -ms-grid-columns: 294px 1fr;
    grid-template-columns: 294px 1fr;
}

.wrapperProduct {
    display: -ms-grid;
    display: grid;
    margin-top: 0;
    gap: 10px;
    -ms-grid-columns: 294px 1fr;
    grid-template-columns: 294px 1fr;
}

@media (min-width: 1101px) {
    .wrapper {
        margin-right: 102px;
        margin-left: 102px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "mobile-top" "mobile-bottom";
    }
}


/* for ProductPage */

@media (min-width: 1101px) {
    .wrapperProduct {
        margin-right: 102px;
        margin-left: 102px;
    }
}

@media (max-width: 1100px) {
    .wrapperProduct {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "mobile-top" "mobile-bottom";
    }
}

.Right {
    grid-template-rows: 305px 1fr;
    display: -ms-grid;
    display: grid;
    gap: 11px;
}

@media (max-width: 1100px) {
    .Right {
        grid-area: "mobile-top";
    }
}


/* info card*/

.info_card {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 305px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #e0e6e9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.info_card_pic {
    height: 106px;
    position: relative;
    /* background: url(a.png); */
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: center;
    object-position: center;
    background-repeat: no-repeat;
    background-color: #91a6c1;
    /* background: url(./back.jpg); */
    border: 1px solid #e0e6e9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.info_card_pic_person {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* background: url(./person.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: azure;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.info_card_btn {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(76px, 1fr)) [3];
    grid-template-columns: repeat(3, minmax(76px, 1fr));
    margin-bottom: 20px;
}

.info_card_btn_one {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    border-radius: 5px;
    display: -ms-grid;
    display: grid;
    // -ms-grid-rows: (minmax(33px, 1fr)) [2];
    // grid-template-rows: repeat(2, minmax(33px, 1fr));
    height: 67px;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;
    i {
        font-size: 20px;
        color: #1b3e68;
    }
    * {
        color: #1b3e68;
    }
}

.menu_card {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
    height: 350px;
}

.menu_card_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 10px;
    padding: 7px 10px;
    text-decoration: none;
    color: #1b3e68;
    cursor: pointer;
    // padding-top: 15px;
    // padding-bottom: 15px;
}

// .menu_card_item:first-child {
//     // margin-top: 20px;
// }

// .menu_card_item:last-child {
//     // margin-bottom: 20px;
// }

// .menu_card_item i {
//     // margin-left: 17px;
// }

// .menu_card_item i:hover {
//     color: #007aff !important;
// }

// .menu_card_item:hover {
//     color: #007aff !important;
//     cursor: pointer;
//     text-decoration: none;
// }

@media (max-width: 769px) {
    .menu_card {
        display: none;
    }
}


/* NavLink {
      color: var(--color1);
    }
     */


/* END infoCard */

.left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr)) [2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    -ms-grid-rows: 271px 50fr 50fr;
    grid-template-rows: 271px 50fr 50fr;
    row-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 20px;
    margin: 0px 0 15px;
}

.leftProduct {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr)) [2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    -ms-grid-rows: 271px 50fr 50fr;
    grid-template-rows: 271px 50fr 50fr;
    row-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    margin: 0;
}

@media (max-width: 1100px) {
    .left {
        grid-area: "mobile-bottom";
        margin: 0 14px 10px 14px;
    }
}

@media (max-width: 768px) {
    .left {
        -ms-grid-columns: minmax(0px, 1fr);
        grid-template-columns: minmax(0px, 1fr);
    }
}

@media (max-width: 1100px) {
    .leftProduct {
        grid-area: "mobile-bottom";
        margin: 0;
    }
}

@media (max-width: 768px) {
    .leftProduct {
        -ms-grid-columns: minmax(0px, 1fr);
        grid-template-columns: minmax(0px, 1fr);
    }
}

.left_one {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr) [2];
    grid-template-rows: repeat(2, 1fr);
    gap: 18px 22px;
}

.left_one-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
}

.left_one>* {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.left_one_1>* {
    margin-right: 18.3px;
}

.left_one_1 {
    /* padding-top: 1.63rem; */
}

.left-one-1>h1 {
    margin-top: 19.5px;
}

@media (max-width: 768px) {
    .left_one_1>h4 {
        font-size: 12px;
        margin-right: 12.5px;
    }
}

.left_two {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: 5px;
    /* background: url(ebad.jpg); */
}

.left_three {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.left_three_head {
    border-bottom: 1px solid #e0e6e9;
}

.left_three_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (minmax(58px, 1fr)) [2];
    grid-template-rows: repeat(2, minmax(58px, 1fr));
    margin-top: 36.5px;
    margin-right: 18.5px;
}

.left_four {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.left_five {
    grid-column: 1/-1;
    background: #ffffff;
    border: 1px solid #e0e6e9;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: 5px;
}


/* i {
      color: #ced5d8;
    } */

.selectNav {
    background-color: #007aff;
    color: #fff;
    border-radius: 8px;
    // color: #007aff;
    // border-left: 2px solid #1b3e68;
    // * {
    //     color: #007aff;
    // }
}

.btnOrder {
    border: 0;
    background-color: #fff;
    margin-right: 15px;
    color: rgb(164, 174, 187);
}

.subTitleOrder {
    // padding-right: 35px;
    // color: #1b3e68;
    font-size: 15px;
    margin: 0px 15px;
    padding: 5px;
    h2 {
        margin:0px;
    }
}

// .subTitleOrder :hover {
//     color: #007aff !important;
//     cursor: pointer;
//     text-decoration: none;
//     transition: color 0.3s;
// }

// .subTitleOrder:hover .dot {
//     background-color: #007aff !important;
//     transition: color 0.3s;
// }

// .dot:hover .subTitleOrder {
//     color: #007aff !important;
//     transition: color 0.3s;
// }

// .selectNav {
//     color: #007aff;
//     border-left: 2px solid #1b3e68;
//     * {
//         color: #007aff;
//     }
// }

.selectdot {
    background-color: #1b3e68;
}

.ActiveMenuBarBig {
    background-color: #007aff;
    i {
        color: #fff;
    }
    h4 {
        color: #fff;
    }
}