.menu_mobile {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 62px;
    background: #ffffff;
    color: #ced5d8;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
    font-size: 3.6vw;
    text-align: center;
    padding: 0px 20px;
    cursor: pointer;
    z-index: 1000;
}

.menu_card_item_menu {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.menu_card_item_menu:hover {
    color: #0054dc;
}

.active {
    color: #0054dc;
}

@media (min-width: 769px) {
    .menu_mobile {
        display: none;
    }
}

.moreOptionsWrapper{
    position: fixed; 
    z-index: 100000; 
    bottom: 65px; 
    background-color: #fff;
    display: none; 
    width: 60%; 
    left: 0px; 
    border-radius: 5px; 
    color: #000;
    ul{
        list-style-type: none; 
        margin: 0px; 
        padding: 20px;
        li{
            text-align: right;
        }
    }
}