@use "../../../styles/abstracts" as *;
.wrapper {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: 0 2px 4px 0 hsl(0deg 0% 71% / 11%);
  box-shadow: 0 2px 4px 0 hsl(0deg 0% 71% / 11%);
  overflow: hidden;
  .animation {
    position: absolute;
    top: -15px;
    right: 80px;
    height: 100px;
    width: 100px;
  }
  .title {
    font-size: 20px;
    color: #000;
    padding: 10px;
    text-align: right;
  }
  .content {
    width: 100%;
    padding: 10px;
    color: #000;
    text-align: justify;
  }
}

.textarea {
  background: #ffffff;
  border: $border;
  box-sizing: border-box;
  border-radius: $borderRadius;
  font-size: 15px;
  color: #364254;
  padding: 11px;
  border-right: 2px solid #224e82;
  border-left: 2px solid #224e82;
}
