    // wrapper
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        font-family: 'bakh';
        background-color: #FFFFFF;
        padding-top: 100px;
        z-index: 40000;
        // header
        .message_success {
            color: #18CC6B;
            font-weight: 500;
            font-size: 15px;
        }
        // p
        .suggesstion_text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #5E7488;
            margin: 0px;
        }
        // wrapper links
        .wrapper_links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 88px;
            // link
            .link_create_product {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 135px;
                height: 47px;
                background: #007AFF;
                border-radius: 5px;
                font-size: 15px;
                text-align: center;
                color: #FFFFFF;
            }
            // link
            .link_dashboard {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 135px;
                height: 47px;
                border: 2px solid #007AFF;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 15px;
                color: #007AFF;
            }
        }
    }
    
    @media only screen and (min-width: 600px) {
        // wrapper
        .wrapper {
            width: 100%;
            // right: 5%;
            top: 20px;
            .wrapper_links {
                width: 30%;
            }
        }
    }