// wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  font-family: "vazir";
  // form
  .form_filter {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding-bottom: 20px;
    // title
    .form_title {
      display: flex;
      align-items: center;
      height: 52px;
      border-bottom: 1px solid #e0e6e9;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      text-align: right;
      color: #5e7488;
      margin: 0px;
      padding: 0px 20px;
    }
    // div filter wrapper
    .filds_wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      font-size: 14px;
      color: #364254;
      padding: 20px 20px 0px 20px;
      // labels
      .filds_label {
        width: 270px;
        padding: 0px 10px;
      }
      // inputs
      .filds_input {
        background: #ffffff;
        border: 1px solid #e0e6e9;
        box-sizing: border-box;
        border-radius: 5px;
        height: 41px;
        width: 100%;
        text-align: center;
      }
      // placeholder
      .filds_input::placeholder {
        font-family: "vazir";
        color: #a4aebb;
        font-size: 13px;
      }
      // placeholder
      .filds_input::-moz-placeholder {
        font-family: "vazir";
        color: #a4aebb;
        font-size: 13px;
      }
      // half
      .filds_input_half {
        width: 49%;
      }
      // button submit
      .button_submit {
        background: #007aff;
        border-radius: 5px;
        height: 41px;
        color: #fff;
        text-align: center;
        border: none;
        outline: none;
        font-family: "vazir";
        width: 15%;
        margin: 0px 10px;
      }
      // button reset
      .button_reset {
        border-radius: 5px;
        height: 41px;
        text-align: center;
        border: none;
        outline: none;
        border: 1px solid #007aff;
        color: #007aff;
        background-color: #fff;
        font-family: "vazir";
      }
    }
  }
  // list
  .product_list {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 32px;
    // title
    .product_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 52px;
      border-bottom: 1px solid #e0e6e9;
      font-weight: 500;
      font-size: 14px;
      text-align: right;
      color: #5e7488;
      padding: 0px 20px;
      margin-bottom: 20px;
      .button_add {
        width: 131px;
        height: 33px;
        background: #007aff;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        border: none;
        outline: none;
        font-family: "vazir";
        margin: 0px 20px;
      }
    }
    // tabel
    .product_tabel {
      border-collapse: collapse;
      width: 95%;
      margin: auto;
      th,
      td {
        padding: 8px;
        text-align: right;
        border-bottom: 1px solid #ddd;
      }
      th {
        background: #f3f6ff;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        color: #364254;
      }
      td {
        font-size: 14px;
        color: #5e7488;
      }
      .wrapper_copy {
        width: 37px;
        height: 37px;
        background: #f9fafc;
        border: 1px solid #ced5d8;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5e7488;
      }
    }
  }
}
