.container_N {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container_N {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container_N {
        max-width: 760px;
        padding-right: 3px;
        padding-left: 3px;
    }
}
@media (min-width: 992px) {
    .container_N {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container_N {
        max-width: 1200px;
    }
}
@media (min-width: 1440px) {
    .container_N {
        max-width: 1400px;
    }
}
.search_body_filter {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
}
.modal_body {
    max-height: 100%;
    padding: 0;
}
.modal_filter_products {
    display: none !important;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-y: auto;
    bottom: 0;
    z-index: 9999;
}
@media (max-width: 768px) {
    .modal_filter_products {
        display: block !important;
    }
}