// wrapper
.wrapper{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
    font-family: 'vazir';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3e3e3e;
    text-align: right;
    direction: rtl;
    margin: auto;
    padding: 0px;
    // header
    .header{
        display: flex;
        align-items: center;
        border-radius: 5px 5px 0px 0px;
        background: #f8f8f8 !important;
        height: 66px;
        // title header
        .header_title{
            font-size: 1.25rem;
            font-weight: 700 !important;
        }
        // back link header
        .header_back_link{
            display: flex;
            align-items: center;
            font-size: .8rem !important;
            color: #7d7d7d !important;
            flex-basis: 43.33%;
            padding: 0px 10px;
        }
    }
    // body
    .body_address{
        padding: 10px;
        // address head
        .address_head{
            display: flex;
            flex-wrap: wrap;
            font-size: .875em;
            align-items: center;
            margin-bottom: 20px;
            justify-content: space-between;
            // header link
            .address_head_link{
                display: flex;
                align-items: center;
                color: #0d417b;
            }
        }
        // address item form
        .address_items_form{
            display: flex;
            flex-direction: column;
            // labels
            .address_items_label{
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: .8rem !important;
                min-height: 4.5rem;
                padding: 10px 15px;
                border-radius: 5px;
                margin-bottom: 5px;
                border: 1px solid #eee;
                transition: all .3s cubic-bezier(.25,.8,.25,1);
                box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
            }
            .active_address{
                border: 1px solid #005e58;
                background-color: #f0fefc;
                box-shadow: 0 5px 10px rgba(0,0,0,.19),0 3px 3px rgba(0,0,0,.23);
            }
            .active_circle{
                background-color: #005e58;
                border: 1px solid #005e58;
            }
            // hover
            .address_items_label:hover{
                border: 1px solid #005e58;
                background-color: #f0fefc;
                box-shadow: 0 5px 10px rgba(0,0,0,.19),0 3px 3px rgba(0,0,0,.23);
            }
            // input radio
            .address_items_label input[type=radio]{
                display: none;
            }
            // item circle
            .address_item_circle{
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-left: 5px;
                border: 1px solid #b5b5b5;
                // little circle
                .address_item_embeded_circle{
                    // display: none;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
            // address item detail
            .address_item_detail{
                width: 80%;
                height: 95px;
                font-family: 'vazir';
                font-size: 3.3vw;
                color: #3e3e3e;
                padding: 30px 10px;
                span{
                    padding-right: 3px;
                }
            }
            // address item icon
            .address_item_icons{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                height: 95px;
                font-size: 1rem;
                padding: .25rem .5rem;
                color: #7d7d7d !important;
                cursor: pointer;
            }
            // button submit
            .button_submit{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                font-size: 17px;
                outline: none;
                border-radius: 5px;
                color: #fff;
                font-weight: 400;
                background-color: #1565c0;
                border: 1px solid transparent;
                transition: background-color .3s;
                box-shadow: 0 1px 4px rgba(0,0,0,.6);
            }
            // hover
            .button_submit:hover{
                background-color: #1055a3;
            }
        }
    }
}
// media
@media only screen and (min-width: 600px) {
    .wrapper{
        .body_address{
            .address_items_form{
                .address_item_detail{
                    font-size: 0.9rem;
                    padding: 20px 10px;
                    span{
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}