// wrapper
.wrapper{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
    font-family: 'vazir';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3e3e3e;
    text-align: right;
    direction: rtl;
    margin: auto;
    // header
    .header{
        display: flex;
        align-items: center;
        border-radius: 5px 5px 0px 0px;
        background: #f8f8f8 !important;
        height: 66px;
        // title header
        .header_title{
            font-size: 1.25rem;
            font-weight: 700 !important;
        }
        // back link header
        .header_back_link{
            display: flex;
            align-items: center;
            font-size: .8rem !important;
            color: #7d7d7d !important;
            flex-basis: 43.33%;
            padding: 0px 10px;
        }
    }
    // body
    .body_address{
        padding: 10px;
        // address head
        .address_head{
            display: flex;
            flex-wrap: wrap;
            font-size: .875em;
            align-items: center;
            margin-bottom: 20px;
            justify-content: space-between;
            // header link
            .address_head_link{
                display: flex;
                align-items: center;
                color: #0d417b;
            }
        }
    }
}