// ..........................................FOR CARD PAGE.................................
.all {
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: right;
    // background-color: #597ba1;
    direction: rtl !important;
}

// ..........................................FOR CART PART................................
.cart_product_group:first-child {
    margin-top: 0;
}

.cart_product_group {
    margin-top: 0.5rem;
    border-radius: 1rem;
}

.cart_product_item_primary_price {
    color: #9e9e9e;
    font-size: 0.875rem;
    text-decoration: line-through;
    align-self: center;
}

// checked  |||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\
@media (min-width: 768px) {
    .cart_product_item_img {
        width: 8rem;
        height: 8rem;
    }
}

.cart_product_item_img {
    width: 6rem;
    height: 6rem;
}

.overflow-hidden {
    overflow: hidden;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart_product_item_remain_stock {
    min-height: 1.5rem;
    color: #ed1943;
    font-size: 0.8rem;
}

.nakhl-label.teaberry-light {
    color: #dc3755;
    background: #fcecef;
}

.nakhl-label.small {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
}

.nakhl-label {
    text-align: center;
    border-radius: 0.4rem;
}

.small {
    font-size: 80%;
    font-weight: 400;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-left: -1px;
}

.input-group-append,
.input-group-prepend {
    display: flex;
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-append>.btn,
.input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-prepend>.input-group-text {
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: var(--border-radius-sm);
}

.input-group>.custom-select,
.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control:disabled {
    background-color: #eee;
    opacity: 1;
}

.pointer {
    cursor: pointer;
}

.cart_product_item_primary_price {
    color: #9e9e9e;
    font-size: 0.875rem;
    text-decoration: line-through;
    align-self: center;
}

.bi {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

// ..........................................Left CART PART................................
@media (min-width: 992px) {
    .order-lg-1 {
        order: 1;
    }
}

@media (max-width: 1199.98px) {
    .cart_invoice {
        border-radius: 0;
        margin-bottom: 1rem;
    }
}

.cart_invoice {
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.cart_invoice_discount_price,
.cart_invoice_primary_price {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.cart_invoice_primary_price {
    color: #474747;
}

.cart_invoice_discount_price {
    color: #dc3755;
}

.cart_invoice_discount_price,
.cart_invoice_primary_price {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.cart_invoice_shipping_price {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.cart_invoice_shipping_price,
.cart_invoice_total_price {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #474747;
}

.btn_Buy {
    color: #fff;
    background-color: #1b3e68;
    border-color: #1b3e68;
}

.btn_Buy:hover {
    color: #1b3e68;
    background-color: #fff;
    border-color: #1b3e68;
}

.cart_invoice_subtitle {
    color: #00786c;
    text-align: center;
    font-size: 0.825rem;
    margin-top: 0.5rem;
    font-weight: 700;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3125rem;
    // transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cart-invoice-subtitle {
    color: #00786c;
    text-align: center;
    font-size: 0.825rem;
    margin-top: 0.5rem;
    font-weight: 700;
}

.bi {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.button:focus {
    outline: none;
}

.margin_top_zero {
    margin-top: 0 !important;
}

.rainbow {
    background-color: #343a40;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
}

.rainbow-1:hover {
    background-image: linear-gradient( 90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
    animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.8px 0.8px -0.5px #1b3e68;
    transform: translateY(-0.25em);
}

.btnplus {
    background-color: rgb(255, 255, 255);
    outline: 0px;
    border: 0px;
}

.btnminus {
    background-color: rgb(255, 255, 255);
    outline: 0px;
    border: 0px;
}