// text
.text{
    padding: 5px;
    font-family: 'vazir';
}
// wrapper button
.wrapper_button{
    display: flex;
    justify-content: space-around;
    font-family: 'vazir';
    margin: 5px;
    button{
        background-color: #fff;
        border: none;
        outline: none;
        font-family: 'vazir';
    }
}