.parent {
    position: relative;
    .holderItems {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        position: relative;
        display: block;
        .cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            &:hover {
                background: rgba(6, 255, 255, 0.5);
            }
        }
    }
}