.filter_box {
    width: 100%;
    background: #fff;
    padding: 1rem;
    border-radius: 1.2rem;
    margin: 1rem 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}
.custom_switch {
    position: relative;
    font-size: 1rem;
}
.custom_switch__label {
    display: block;
    cursor: pointer;
    content: "";
    position: relative;
    top: 5px;
    left: 0;
    width: 36px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 14px;
    z-index: 1;
    transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.custom_switch__label .circle {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: left, background-color;
}
.custom_switch__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 20px;
    opacity: 0;
    z-index: 0;
}
.custom_switch__input:checked+.custom_switch__label {
    background-color: rgba(28, 236, 63, 0.502);
}
.custom_switch__input:checked+.custom_switch__label .circle {
    left: 16px;
    background-color: rgb(56, 245, 9);
}
.filter_box_title {
    margin-bottom: 0;
    cursor: pointer;
    margin-right: 0.9rem;
}