$color1: #00171f;
$color2: #1b3e68;
$color3: #224d82;
$color4: #597ba1;
$color5: #91a6c1;
$color6: #d4d8e1;
.slide {
    @media (min-width: 768px) {
        margin-top: 19px;
    }
    // margin-top: 2px;
    // margin-bottom: 15px;
    .righter {
        position: relative;
        object-fit: fill;
        img {
            width: 100%;
            border-radius: 15px;
            // margin-top: 15px;
        }
    }
    .lefter {
        flex-direction: column;
        justify-content: space-between;
        img {
            width: 100%;
            border-radius: 15px;
            // margin-top: 15px;
        }
    }
}