.form{
    margin: 0px 10px;
    padding: 20px;
    font-size: 1rem;
    background: #fff;
    border-radius: .3125rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.19);
    // save button
    .save_btn{
        color: #fff;
        background-color: #018ac0;
        border:1px solid #008ac0;
        outline: none;
    }
}