.main{
    margin: 0px 10px;
    padding: 20px;
    font-size: 1rem;
    background: #fff;
    border-radius: .3125rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.19);
    font-family: 'bakh';
    h1{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 25px;
    }
}