.setting {
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.wrapper {
    background-color: #ffffff;
    padding: 10px 15px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}