.box {
    height: 500px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 7px 0px;
    overflow-y: auto;
    box-shadow: 0 1px 4px #eee, 0 1px 2px rgba(0, 0, 0, 0.24);
}
.itemHojreh {
    padding: 10px 7px;
    cursor: pointer;
    &:hover {
        background-color: #f5f5f5;
    }
}
.headHojreh {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nameHojreh {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.headProduct {
    padding: 10px 7px;
    border-bottom: 2px solid #eee;
    cursor: pointer;
    &:hover {
        background-color: #f5f5f5;
    }
}