.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #2e3192;
  border-left: none;
  padding: 20px;
  height: 36px;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  color: #2e3192;
  font-size: 15px;
  &::placeholder {
    font-size: 15px;
    color: black;
  }
}
.searchButton {
  width: 40px;
  height: 46px;
  border: 1px solid #2e3192;
  background: #2e3192;
  text-align: center;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

.wrap {
  width: 90%;
  display: flex;
  justify-content: center;
}
