.product-filters .search-sorts .sort-item {
  cursor: pointer;
  position: relative;
}

.product-filters .search-sorts .sort-item-badge:after {
  color: #fff;
  font-weight: 700;
  font-size: 0.65rem;
  position: absolute;
  top: 2px;
  left: -10px;
  border-radius: 0.25rem;
  padding: 0.15rem 0.2rem;
  content: attr(badge-title);
  background-color: #dc3755;
}

.product-filters .filter-box .custom-switch__label {
  top: 0;
}

.product-filters .filter-box .custom-switch__label.tiny {
  width: 32px;
  height: 10px;
}

.product-filters .filter-box .custom-switch__label.tiny .circle {
  width: 16px !important;
  height: 16px !important;
}

.search-sorts {
  width: 100%;
  display: flex;
  overflow-x: auto;
  background: #fff;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}

.search-sorts .title {
  display: none;
  color: var(--gray-550);
  margin: 0 1rem;
  font-size: 1.0625rem;
}

.search-sorts .title .icon {
  color: #7d7d7d;
}

.search-sorts ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-sorts ul li {
  display: inline-block;
}

.search-sorts ul li.active a {
  background: none;
  color: #ed1943;
  border-bottom-color: #ed1943;
}

.search-sorts ul a {
  margin: 0;
  display: block;
  text-align: center;
  color: #3e3e3e;
  font-size: 0.9rem;
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.search-sorts ul a:focus,
.search-sorts ul a:hover {
    color: #ed1943;
}

@media (min-width: 992px) {
  .search-sorts {
    border-radius: 0.3125rem;
    margin-left: 0;
    margin-right: 0;
  }
  .search-sorts .title {
    display: flex;
    font-size: 0.9rem;
  }
  .search-sorts .title span {
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
    .search-sorts {
        margin-left: 0;
        margin-right: 0;
    }
}
