.wrap {
    position: relative;
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .wrap_title {
            display: flex;
            justify-content: center;
            align-items: center;
            .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media screen and (min-width: 767px) {
                    width: 395px;
                }
                .text {
                    text-align: center;
                    font-family: Yekan Bakh;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 37px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #224e82;
                }
            }
        }
        .video {
            background-color: #e2e8ed;
            height: 176px;
            @media screen and (min-width: 768px) {
                height: 392px;
                border-radius: 20px;
            }
        }
    }
}