.wrapper {
    position: relative;
    .background {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        top: 50%;
        --tw-bg-opacity: 1;
        background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
        pointer-events: none;
    }
    .liner {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        width: 1px;
        padding: 1px;
        height: 5rem/* 80px */
        ;
        --tw-bg-opacity: 1;
        background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translateX(var(--tw-translate-x));
        --tw-translate-y: 50%;
    }
    .items {
        position: relative;
        max-width: 72rem/* 1152px */
        ;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem/* 16px */
        ;
        padding-right: 1rem/* 16px */
        ;
        .paterns {
            padding-top: 3rem/* 48px */
            ;
            padding-bottom: 3rem/* 48px */
            ;
            .header {
                max-width: 48rem/* 768px */
                ;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                padding-bottom: 3rem/* 48px */
                ;
            }
            .items_features {
                max-width: 24rem/* 384px */
                ;
                margin-left: auto;
                margin-right: auto;
                display: grid;
                gap: 1.5rem/* 24px */
                ;
                align-items: flex-start;
                
                @media (min-width: 768px) {
                    &{
                        grid-template-columns: repeat(2, minmax(0, 1fr));

                        max-width: 42rem/* 672px */;
                        
                    }
                }
                @media (min-width: 1024px) {
                    & {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                        max-width: none;
                    }
                }
                
            }
        }
    }
}

.parent_certain_item{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem/* 24px */;
    
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.25rem/* 4px */;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    .icon{
        width: 4rem/* 64px */;
        height: 8rem/* 128px */;
        padding: 0.25rem/* 4px */;
        margin-bottom: 0.25rem/* 4px */;
        display: block;



    }
    .text_feature{
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
        font-weight: 700;
        line-height: 1.375;
        letter-spacing: -0.025em;
        margin-bottom: 0.25rem/* 4px */;

    }
    .sub_text_feature{
        color: rgba(75, 85, 99, 1);
        text-align: center;
    }
    
}

@media (min-width: 640px) {
    .items {
        padding-left: 1.5rem/* 24px */
        ;
        padding-right: 1.5rem/* 24px */
        ;
    }
}
@media (min-width: 768px) {
    .background {
        margin-top: 6rem/* 96px */
        ;
    }
    .paterns {
        padding-top: 5rem/* 80px */
        ;
        padding-bottom: 5rem/* 80px */
        ;
    }
    .header {
        padding-bottom: 5rem/* 80px */
        ;
        .subtitle {
            font-size: 1.25rem/* 20px */
            ;
            line-height: 1.75rem/* 28px */
            ;
            color: rgba(75, 85, 99, 1);
        }
    }
   
}
@media (min-width: 1024px) {
    .background {
        margin-top: 0px;
    }
    
}