.container {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.icon {
    flex-grow: 1;
    margin-left: 60px;
    margin-right: 10px;
    justify-self: start;
}
.list {
    flex-grow: 4;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            margin-left: 30px;
            list-style-type: none;
            cursor: pointer;
            font-weight: 600;
            margin-top: 5px;
        }
    }
}
.menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btn {
    all: unset;
    background-color: #104b82;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bolder;
}
@media (max-width: 870px) {
    .container {
        justify-content: space-between;
    }
    .icon {
        flex-grow: 1;
    }
    .list {
        display: none;
    }
    .menu {
        flex-grow: 1;
        justify-content: end;
    }
}