.container {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.icon {
    flex-grow: 1;
    margin-left: 60px;
    margin-right: 10px;
    justify-self: start;
    display: flex;
    align-items: center;
}

.list {
    flex-grow: 4;

    ul {
        display: flex;
        margin: 0;
        padding: 0;

        li {
            margin-left: 30px;
            list-style-type: none;
            cursor: pointer;
            font-weight: 600;
            margin-top: 5px;
        }
    }
}

.menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slideMenu {
    display: none;
}

.btn {
    all: unset;
    background-color: #104b82;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bolder;
}

.cartContainer {
    cursor: pointer;
    position: relative;
}

.numberLabel {
    width: 20px;
    height: 20px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    background-color: #114b82;
    vertical-align: middle;
    position: absolute;
    bottom: -15px;
    right: -10px;
    border-radius: 50%;
}

.profile {
    cursor: pointer;

    &:hover+.modalProfile {
        visibility: visible;
        opacity: 1;
    }
}

.modalProfile {
    width: 200px;
    height: 122px;
    background-color: rgb(243, 243, 243);
    position: absolute;
    top: 45px;
    left: 15px;
    z-index: 10;
    padding: 2px !important;
    border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    &:hover {
        visibility: visible;
        opacity: 1;
    }

    div {
        padding: 5px;
        display: flex;
        align-items: center;

        i {
            font-size: 20px;
            margin-left: 5px;
        }
    }
}


.icons {
    font-size: 35px;

    @media (max-width: 870px) {
        font-size: 25px;
    }
}

@media (max-width: 870px) {
    .container {
        justify-content: space-between;
    }

    .icon {
        flex-grow: 1;
    }

    .list {
        display: none;
    }

    .slideMenu {
        display: inline;
    }

    .menu {
        flex-grow: 1;
        justify-content: end;
    }
}