.image {
  border-radius: 50px;
}
.imageMobile {
  display: none;
}
@media (max-width: 870px) {
  .image {
    border-radius: 15px;
  }
  .imageDesktop {
    display: none;
  }
  .imageMobile {
    display: inline;
  }
}
