@mixin inputPic {
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
    transition: all 0.3s ease;
}

.slider {
    display: flex;
    .right {
        position: relative;
        flex: 0 0 66.66%;
        overflow: hidden;
        border-radius: 16px;
        padding-left: 5px;
        img {
            width: 100%;
            aspect-ratio: 2/1;
            border-radius: 15px;
        }
        .icon_change_pic {
            @include inputPic;
        }
        &:hover {
            .icon_change_pic {
                visibility: visible;
            }
        }
    }
    .left {
        flex: 0 0 33.33%;
        overflow: hidden;
        .top {
            position: relative;
            padding-top: 50%;
            .icon_change_pic {
                @include inputPic;
            }
            &:hover {
                .icon_change_pic {
                    visibility: visible;
                }
            }
            .holderPic {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 5px;
                bottom: 5px;
                img {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 2/1;
                    border-radius: 15px;
                }
            }
        }
        .bottom {
            position: relative;
            padding-top: 50%;
            border-radius: 16px;
            overflow: hidden;
            .icon_change_pic {
                @include inputPic;
            }
            &:hover {
                .icon_change_pic {
                    visibility: visible;
                }
            }
            .holderPic {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 5px;
                top: 5px;
                img {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 2/1;
                    border-radius: 15px;
                }
            }
        }
    }
}

.icon_change_pic {
    position: absolute;
    right: 10px;
    top: 10px;
    // visibility: hidden;
    transition: all 0.3s ease;
}