@mixin inputPic {
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
    transition: all 0.3s ease;
}
.slider {
    display: flex;
    .right {
        position: relative;
        flex: 0 0 66.66%;
        max-width: 66.66%;
        overflow: hidden;
        border-radius: 16px;
        padding-left: 5px;
        display: flex;
        img {
            width: 100%;
            aspect-ratio: 2/1;
            border-radius: 15px;
        }
        .icon_change_pic {
            @include inputPic;
        }
        &:hover {
            .icon_change_pic {
                visibility: visible;
            }
            .icon_change_url {
                visibility: visible;
            }
            .titleUrl {
                visibility: visible;
            }
        }
    }
    .left {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        overflow: hidden;
        .top {
            position: relative;
            padding-top: 50%;
            .icon_change_pic {
                @include inputPic;
            }
            &:hover {
                .icon_change_pic {
                    visibility: visible;
                }
                .icon_change_url {
                    visibility: visible;
                }
                .titleUrl {
                    visibility: visible;
                }
            }
            .holderPic {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 5px;
                bottom: 5px;
                img {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 2/1;
                    border-radius: 15px;
                }
            }
        }
        .bottom {
            position: relative;
            padding-top: 50%;
            border-radius: 16px;
            overflow: hidden;
            .icon_change_pic {
                @include inputPic;
            }
            &:hover {
                .icon_change_pic {
                    visibility: visible;
                }
                .icon_change_url {
                    visibility: visible;
                }
                .titleUrl {
                    visibility: visible;
                }
            }
            .holderPic {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 5px;
                top: 5px;
                img {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 2/1;
                    border-radius: 15px;
                }
            }
        }
    }
}
.icon_change_pic {
    position: absolute;
    right: 10px;
    top: 10px;
    // visibility: hidden;
    transition: all 0.3s ease;
}
.icon_change_url {
    position: absolute;
    left: 10px;
    bottom: 10px;
    visibility: hidden;
    transition: all 0.3s ease;
}
.titleUrl {
    position: absolute;
    background: #000;
    left: 50px;
    bottom: 10px;
    visibility: hidden;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255);
    backdrop-filter: blur(15px);
    box-shadow: 5px 9.9px 9.9px hsl(0deg 0% 0% / 0.35);
    border-radius: 7px;
    span {
        padding: 10px;
        font-size: 13px;
        font-weight: bold;
        position: block;
        color: #000;
    }
}
.prev {
    position: absolute;
    top: 50%;
    right: 10px;
    transition: all 0.3s;
    font-size: 25px;
    &:hover {
        transform: scale(1.3);
    }
}
.next {
    position: absolute;
    font-size: 25px;
    left: 10px;
    top: 50%;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.3);
    }
}
.counter_number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bolder;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}