.section {
    border-bottom: 1px solid #e5e5ea;
    padding: 15px 0;
    &_inner {
        height: 75px;
        position: relative;
        overflow: hidden;
        .container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            font-size: 10px;
            font-size: 0.714rem;
            line-height: 2.2;
            letter-spacing: 0.2px;
            color: #000;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            position: relative;
            a {
                width: 33%;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33%;
                flex: 0 0 33%;
                display: block;
                div {
                    padding-top: 56px;
                    background: no-repeat;
                    text-align: center;
                    background-position: 50% 0;
                    background-size: auto 45px;
                }
            }
            .img_one {
                background-image: url(/icons/logo_Nakhl.svg);
            }
            .img_two {
                background-image: url(/icons/logo_Nakhl.svg);
            }
            .img_three {
                background-image: url(/icons/logo_Nakhl.svg);
            }
        }
    }
}