@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin settings($width,
$height) {
    width: $width;
    height: $height;
}

.body {
    @include flexCenter();
    font-family: "montserrat", san-serif;
    height: 100vh;
}

.card {
    @include flexCenter();
    @include settings(400px,
    250px);
    background-image: url(https://i.pinimg.com/originals/e7/d0/b1/e7d0b12ecb83a6044244c37360b01ad4.jpg);
    background-color: #b29967;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: relative;
    .front {
        @include flexCenter();
        position: absolute;
        backface-visibility: hidden;
        .circle {
            @include settings(70px,
            70px);
            border: 7px solid #000;
            border-radius: 50%;
            margin-right: 0.5em;
        }
        .triangle {
            position: relative;
            border-left: 45px solid transparent;
            border-right: 45px solid transparent;
            border-bottom: 70px solid #000;
            &:before {
                @include settings(68px,
                55px);
                content: " ";
                background: url(https://i.pinimg.com/originals/e7/d0/b1/e7d0b12ecb83a6044244c37360b01ad4.jpg) center center;
                clip-path: polygon(50% 5%, 0% 100%, 100% 100%);
                position: absolute;
                top: 10px;
                left: -34px;
            }
        }
        .square {
            @include settings(70px,
            70px);
            border: 7px solid #000;
            margin-left: 0.5em;
        }
    }
}

.back {
    @include flexCenter();
    transform: rotateY(180deg);
    .icon {
        @include settings(50px,
        50px);
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        border-radius: 50%;
        margin-right: 1em;
    }
    p {
        font-weight: 400;
        letter-spacing: 1px;
    }
}

.flip-card {
    transform: rotateY(180deg);
}