.megamenu {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

@media (min-width: 1200px) {
  .megamenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .megamenu__item .link {
    font-size: 0.8125rem;
    padding: 1.032rem 0.69rem 0.907rem;
  }
}

.megamenu__container {
  display: flex;
  position: relative;
}

.megamenu__item {
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}

.megamenu__item:first-child .link {
  padding-right: 0;
}

.megamenu__item .link {
  display: flex;
  color: #3e3e3e;
  position: relative;
  align-items: center;
  font-size: 0.75rem;
  transition: all 0.2s ease-in-out;
  padding: 1.032rem 0.5rem 0.907rem;
}

.megamenu__section {
  top: 100%;
  right: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
  display: flex;
  padding: 1rem 0;
  flex-wrap: wrap;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  background: #fff;
  align-content: flex-start;
  border-radius: 0 0 0.3125rem 0.3125rem;
  box-shadow: 0 14px 28px rgb(0 0 0 / 24%);
}

.megamenu__section .megamenu__section__wrapper {
  width: 20%;
  flex: 0 0 20%;
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: column;
}

.megamenu__section .section_link_header {
  color: #3e3e3e;
  font-weight: 700;
  padding: 0.3rem 0;
  font-size: 0.875rem;
  margin: 0 1rem 0.5rem;
  border-bottom: 1px solid #dfdfdf;
}

.megamenu__item:hover {
  border-bottom-color: #dc3755;
}

.megamenu__item:hover .megamenu__section {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  transition-delay: 0.2s;
}

.megamenu__section .section_link_header {
  color: #3e3e3e;
  font-weight: 700;
  padding: 0.3rem 0;
  font-size: 0.875rem;
  margin: 0 1rem 0.5rem;
  border-bottom: 1px solid #dfdfdf;
}

.megamenu__section .section_link {
  margin: 0 1rem;
  color: #535353;
  padding: 0.3rem 0;
  font-size: 0.8125rem;
}
