@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #f8f8f8;
  border: 1px solid #cfd8dd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0 15px;
  .wrap_title {
    @include center;
    padding-bottom: 23px;
    padding-top: 23px;
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #273238;
    }
  }
  .wrap_footer {
    @include center;
    padding: 10px 0px 20px;
    span {
      color: #224d82;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
    }
  }
}
