@mixin inputPic {
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
    transition: all 0.3s ease;
}

.wrap {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "img1 img2 img3 img4";
    grid-gap: 10px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "img1 img2" "img3 img4";
    }
    .wrapImg {
        position: relative;
        .icon_change_pic {
            @include inputPic;
        }
        &:hover {
            .icon_change_pic {
                visibility: visible;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
    }
}