.section {
    display: flex;
    justify-content: center;
    div {
        flex-basis: 50%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        img {
            width: auto;
            height: 120px !important;
            object-fit: cover;
            @media (min-width: 768px) {
                height: 180px !important;
            }
        }
    }
}

.rightImg {
    justify-content: space-evenly;
}

.leftImg {
    justify-content: space-evenly;
}