.section {
    display: flex;
    justify-content: center;
    div {
        flex-basis: 50%;
        padding-left: 15px;
        padding-right: 15px;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}