.section {
    display: flex;
    justify-content: center;
    div {
        flex-basis: 50%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        img {
            width: auto;
            height: 220px !important;
            object-fit: cover;
        }
    }
    .rightImg {
        justify-content: space-evenly;
    }
    .leftImg {
        justify-content: space-evenly;
    }
}