.LinksGridD {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 60px;
    .explain {
        margin-left: 100px;
        align-items: center;
        text-align: justify;
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    }
}