// div wrapper
.wrapper {
    font-family: "vazir";
    background-color: #fff;
    // bread crumb
    .bread_crumb {
        display: flex;
        // align-items: center;
        padding: 1rem 0;
        font-size: 0.8rem;
        list-style: none;
        color: #7d7d7d;
        border-radius: 0;
        overflow-x: auto;
        background-color: transparent;
        font-weight: lighter;
        white-space: nowrap; // a {
        //     color: #7d7d7d !important;
        // }
        .breadcrumb_item {
            font-size: 0.8rem;
            color: #7d7d7d;
            border-radius: 0;
            background-color: transparent !important;
            padding: 0 !important;
        }
    }
    // image product
    .image_slider {
        background: white;
        border: 1px solid rgb(161, 161, 161) !important;
        border-radius: 20px;
        &_default_media_box {
            height: 5vh;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            padding-bottom: 100%;
            border-radius: 0.5rem;
        }
    }
    .images_product {
        cursor: pointer;
        border-radius: 0.5rem;
    }
    // store wrapper
    .store_wrapper {
        position: sticky;
        top: 3rem;
        // report wrapper
        .report_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #f2af29;
            font-size: 1.5rem !important;
            margin: 10px 0px;
            i {
                cursor: pointer;
                color: #3629f2;
            }
        }
        // store section
        .store_section {
            h2 {
                font-size: 1rem;
                margin-bottom: 1rem;
                font-weight: 700;
            }
            // store detail
            .store_detail {
                display: flex;
                align-items: center;
                .store_image {
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                    width: auto;
                    overflow: hidden;
                }
            }
        }
    }
    .product_section_title {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
        color: #7d7d7d;
    }
    .product_section_title__link {
        font-size: 0.9rem !important;
        color: #3e3e3e;
        margin-bottom: 0 !important;
    }
    .avatar_box {
        display: flex;
        min-width: 1%;
        font-size: 1.25rem;
        flex-grow: 1 1 0%;
        font-weight: 400;
        align-items: center;
        border-radius: 50%;
    }
    .shop_image {
        border-radius: 50% !important;
    }
    // title product
    .title_product {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 30px;
    }
    // product detail
    .product_detail {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #7d7d7d;
    }
    // product price
    .product_price {
        font-family: "vazir";
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: #00171f;
        font-size: 1.7rem;
        font-weight: 700;
        // old price
        .old_price {
            color: rgba(0, 0, 0, 0.5);
            font-size: 1.25rem;
        }
        // inventory
        .inventory {
            font-size: 0.875rem;
        }
    }
    // wrapper product price
    .wrappper_button_buy {
        display: flex;
        align-items: center;
        .button_buy {
            width: 100%;
            height: 3.5rem;
            font-size: 1.5rem;
            border-radius: 50rem;
            outline: none;
            border: none;
            color: #fff;
            background-color: #224d82;
            border-color: #00171f;
            cursor: pointer;
            text-align: center;
        }
    }
    // wrapper product Property
    .wrapper_product_property {
        display: flex;
        flex-direction: column;
    }
    // product links
    .product_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.875rem;
        color: #3e3e3e;
        margin-left: 140px;
    }
    // other product
    .other_product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        margin-top: 5rem;
        font-weight: 700;
        h2 {
            font-size: 1rem;
            font-weight: 700;
        }
        a {
            color: #224d82;
            font-size: 12px;
        }
    }
    // comments header
    .comments_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #3629f2;
        font-size: 14px;
        h3 {
            color: #000;
            font-size: 1.25rem;
            font-weight: 700;
        }
    }
    // comments wrapper
    .comments_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        // height: 100px;
        .avatar_wrapper {
            width: 80px;
            height: 80px;
            text-align: center;
            flex-shrink: 0;
            .comments_avatar {
                width: 70px;
                height: 70px;
            }
        }
        .comments_detail {
            display: flex;
            flex-direction: column;
            .rating_wrapper {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 600px;
                font-size: 8px;
                color: #f2af29;
            }
            @media screen and (max-width: 480px) {
                .rating_wrapper {
                    width: 250px;
                }
            }
            span {
                font-size: 12px;
            }
            .likes_icons_wrapper {
                display: flex;
                align-items: center;
                color: #224d82;
                span {
                    width: 40px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #3629f2;
                    border-radius: 25px;
                    margin: 0 0.5rem;
                }
                span:hover {
                    background-color: #3629f2;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    .product_purchase {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        width: 100%;
        z-index: 300;
        border-top: 1px solid #dfdfdf;
        .price_mobile {
            font-size: 1.5rem;
            line-height: 1;
            color: #224d82;
            font-weight: 700;
            margin-left: 0.5rem;
            // display: inline-block;
        }
        .price_mobile_decoration {
            color: #bdbdbd;
            text-decoration: line-through;
            line-height: 1;
            display: inline-block;
        }
        .product_btn_mobile {
            color: #fff;
            background-color: #224d82;
            border-color: #224d82;
            font-size: 1.5rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .avatar {
        position: relative;
        font-size: 6rem;
        line-height: 1;
        width: 1em;
        height: 1em;
        min-width: 1em;
        min-height: 1em;
    }
    .avatar_box_content {
        flex: 1;
        margin: -0.15em 0.7em -0.15em 0;
        font-size: 1em;
        overflow: hidden;
    }
    .product_detail_title {
        font-size: 1.5rem !important;
        word-break: break-word;
        font-weight: 700 !important;
        margin-bottom: 1.5rem !important;
    }
    .primary_price {
        line-height: 1;
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.5) !important;
    }
    .price {
        font-size: 1rem !important;
        color: #224d82 !important;
        font-weight: 700 !important;
    }
    .btn_tprimary {
        color: #fff;
        background-color: #224d82;
        border-color: #00171f;
        font-size: 1.5rem !important;
        height: 3.75rem;
        overflow: hidden;
        cursor: pointer;
    }
    .product_guide {
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        &__element {
            flex-basis: 33%;
            color: #3e3e3e !important;
            text-align: center !important;
        }
        &__deaktop {
            width: 33.313rem;
        }
    }
    .product_section_title {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
        color: black;
    }
    .product_attributes {
        display: flex;
        flex-direction: column;
    }
}