.wrapper {
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    &:hover {
        .icon_change_pic {
            visibility: visible;
        }
        .icon_change_url{
            visibility: visible;
        }
    }
    img {
        width: 100%;
        border-radius: 15px;
    }
}

.wrap {
    display: flex;
    gap: 10px;
    .right {
        position: relative;
        flex-basis: 50%;
        img {
            width: 100%;
            border-radius: 15px;
        }
        &:hover {
            .icon_change_pic {
                visibility: visible;
            }
            .icon_change_url{
                visibility: visible;
            }
        }
    }
    .left {
        flex-basis: 50%;
        position: relative;
        img {
            width: 100%;
            border-radius: 15px;
        }
        &:hover {
            .icon_change_pic {
                visibility: visible;
            }
            .icon_change_url{
                visibility: visible;
            }
        }
    }
}

.icon_change_pic {
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
    transition: all 0.3s ease;
}

.icon_change_url{
    position: absolute;
    left: 10px;
    bottom: 10px;
    visibility: hidden;
    transition: all 0.3s ease;
}