.main {
  width: 100%;
  background-color: #a1db43;
  border-radius: 10px;
  .title {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    .name {
      text-align: right;
      color: black;
      .mainTitle {
        display: block;
        font-size: 13px;
        letter-spacing: 1.5px;
        font-weight: bold;
      }
      .subTitle {
        display: block;
        margin-top: 10px;
        padding-right: 9px;
        font-size: 12px;
        font-weight: bold;
      }
    }
    .seeAll {
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapBtn {
        width: 80px;
        height: 35px;
        border-radius: 12px;
        background-color: #fff;
        border: 2px solid rgb(27, 62, 104);
        font-size: 12px;
        font-weight: bold;
        color: #000;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 8px 2px;
}
