.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.explain {
    margin-left: 50px;
    align-items: center;
    text-align: justify;
    font-family: IRANSans;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}
.error {
    font-size: 14px;
    color: red;
    margin-top: 8px;
}

/* Start     Input */

.input_setting {
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        grid-column: 1 / -1;
    }
}
.explain_section {
    @media (max-width: 768px) {
        display: none;
    }
}
.inputWid {
    display: grid;
    height: 45px;
}
.inputWid>input {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
    direction: ltr;
    font-size: 15px;
    color: #364254;
    padding: 11px;
}
.inputWidRtl {
    display: grid;
}
.inputWidRtl>input {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    color: #364254;
    padding: 11px;
    border-right: 2px solid #224e82;
    border-left: 2px solid #224e82;
}
.inputWidRtlH {
    display: grid;
    height: 80px;
}
.inputWidRtlH>textarea {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    color: #364254;
    padding: 11px;
}

/*  End    Input */

.inputWid_withWord {
    display: flex;
    height: 45px;
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
    direction: ltr;
    font-size: 15px;
    font-weight: bolder;
    border-right: 2px solid #224e82;
    border-left: 2px solid #224e82;
    padding: 11px;
    align-items: center;
}
.text_in_input {
    color: #224e82;
    border-right: 2px solid #224e82;
    margin-right: 11px;
}
.inputWid_withWord>input {
    border: 0;
    width: 100%;
    font-size: 15px;
}
.inputWid_withWord>input:focus {
    outline: 0;
}