.wrap_summery {
  display: flex;
  justify-content: space-around;
  background-color: blanchedalmond;
  padding: 20px 10px;
  border-radius: 10px;
  margin-bottom: 3px;
  span {
    font-size: 20px;
    font-weight: bold;
  }
}
.wrap_table {
  padding: 20px 0px;
}
.wrap_nemodar{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2,1fr);

}
