.a_box {
    display: inline-block;
    width: 250px;
    text-align: center;
    position: relative;
    padding-bottom: 38px;
    margin: 0px 20px;
}
.icon_container {
    position: absolute;
    top: 53%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    transform: rotate(-10deg);
    z-index: 2;
}
.img_container {
    margin-left: 3px;
    margin-right: 3px;
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}
.img_container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -31px 0px 0px -1px;
}
.inner_skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}
.inner_skew_left {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, -13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}
.text_container {
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #e0e0e0;
    margin: -130px 0px 0px 0px;
    height: 230px;
    line-height: 19px;
    font-size: 14px;
}
.text_container h3 {
    margin: 20px 0px 10px 0px;
    color: rgb(150, 51, 172);
    font-weight: bold;
    font-size: 19px;
}