// div labels
.label {
    display: inline-block;
    direction: rtl;
    font-family: "vazir";
    padding-top: 10px;
    // item label
    .span_label {
        color: #5e7488;
    }
    // item value
    .span_value {
        color: #333333;
        padding: 0px 10px;
        white-space: break-spaces;
        display: inline-block;
        text-align: justify;
    }
}
// custom label
.wrapper_custom_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}