// div wrapper tabs
.customTab{
    font-family: 'vazir';
    direction: rtl;
    width: 100%;
    height: 30px;
    // div titles
    .customTab_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #fff;
        height: 30px;
        border-top: 1px solid #fff;
        // span titles
        .customTab_title{
            font-size: 15px;
            color: #A4AEBB;
            width: 100px;
            text-align: center;
            cursor: pointer;
        }
        // active span titles
        .customTab_active{
            font-weight: 500;
            font-size: 15px;
            color: #364254;
            border-bottom: 2px solid #007AFF;
        }

    }
}