.wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    -webkit-box-shadow: 0 2px 4px 0 hsl(0deg 0% 71% / 11%);
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 71% / 11%);
    .title {
        font-size: 20px;
        color: #000;
        padding: 10px;
    }
    .content {
        width: 100%;
        padding: 10px;
        text-align: justify;
    }
}