.linearImages {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    .righter {
        position: relative;
        margin-bottom: 10px;
        img {
            aspect-ratio: 3/1.2;
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
    }
    .lefter {
        margin-bottom: 10px;
        position: relative;
        img {
            display: block;
            aspect-ratio: 3/1.2;
            width: 100%;
            height: auto;
            border-radius: 15px;
        }
    }
}