.icon_change_pic {
  width: 33px;
  height: 33px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  top: 10px;
  transition: all 0.3s ease;
  i {
    font-size: 25px;
    color: #2d3192;
    padding-top: 3px;
  }
}
